<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" *ngFor="let game of currentPlayerStats">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{game.Data.Title}}
      </mat-panel-title>
      <mat-panel-description>
        Current Players: {{game.Data.Current}}
      </mat-panel-description>
      <mat-panel-description>
        24hr Peak: {{game.Data.Peak_today}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-today-chart [gameTitle]="game.Data.Title" ></app-today-chart>

  </mat-expansion-panel>
</mat-accordion>


