#wishlist-container {
  background-color: white;
  border-radius: 5px;
  font-family: Verdana, sans-serif;

  padding: 1rem;
  margin: 2.3rem auto auto;
  width: 150px;
  /*width: 200px;*/
}

#wishlist-container {
  list-style: none;
  font-size: .75rem;
}
h3 {
  text-align: center;
}
