<div id="main-container">


  <table id="game-table" (change)="rebind_listeners()">
    <caption><b>Top 100 Selling Games Today</b>
      <div class="filter-container">
        <label for="filters">Sort By:</label>
        <select name="filters" id="filters" (change)="sort_control($event)">
          <option>Select</option>
          <option value="most-discount">Most Discounted</option>
          <option value="highest-rated">Highest Rated</option>
          <option value="newest">Newest</option>
        </select>
      </div>
    </caption>

    <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Release Date</th>
      <th>Rating</th>
      <th>Price</th>

      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr #gameRow *ngFor="let game of filtered_top_games" draggable="true">
      <td><img src="{{game.Image_Link}}" height="50px"></td>
      <td>{{game.Title}}</td>
      <td style="font-size: .75rem">{{game.Release_Date}}</td>
      <td>{{ game | ratingFormat }}</td>
      <td><app-game-price [game]="game"></app-game-price></td>

    </tr>

    </tbody>
  </table>

  <app-wishlist style="position: fixed; right: 30px;"></app-wishlist>

</div>


